@import url(/reset.css);
html{
    font-size:1em;
    line-height:1.5;
}
body {
	width: 960px;
	margin: 0 auto;
	padding: 5em 2em 2em;
	background: white url(/images/bodybg.jpg);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #404040;
	font-family: Georgia, serif;
	font-family: Bitter;
}

p {
	margin: 1em 0;
}

header h1 {
	font-size: 4em;
	font-weight: 600;
	padding-bottom: .2em;
	font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

#social li {
	float: left;
	padding-right: 1em;
}

ul#facts {
	margin-left: 2em;
}

#facts li {
	list-style: disc;
	line-height: 1.4em;
	padding-bottom: 1em;
}